hr {
border-top:2px #8c8b8b;
background-color: #fff;
}
.header {
  color:white;
  height:50px;
  background: #A9A9A9;
  font-size: 40px;
}
#text {
  margin-left: 20px;
}

.title {
  color: #A9A9A9;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 30px;
}

.info {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info label {
   display: inline;
   float:left;
   font-weight: bold;
}
.info span {
  display: block;
  position: absolute;
  left: 0px;
  bottom: -30px;
  font-size:14px;
  height: 10px;
  padding-top: 5px;
  color: #A9A9A9;
}

.teams {
  display: block;
  position: absolute;
  padding-top: 20px;
  height: 50px;
  font-size:14px;
  left: 0px;
  color:#A9A9A9;
}

.container {
  padding-left: 20px;
  height: 80px;
}

.add{
  background: #1E90FF; 
  position: absolute;
  right: 600px ;
    height: 40px;
    width: 140px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.modal-container {
    width: 350px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 11;
    background: white;
}

.modal-overlay {
  position: absolute,
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}
.boxclose{
    float:right;
    cursor:pointer;
    color: white;
    border-radius: 26px;
    background: #00FFFF;
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";
}
.buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.cancel {
  text-align:center;
  width:50%;
  background: #4682B4;
  font-size:20px;
  color: white;
  height: 35px;
  float: left;
}
.save {
  text-align: center;
  width:50%;
  background: #1E90FF ;
   font-size:20px;
   color: white;
   height: 35px;
  float: right;
}

.input-container {
  position: relative;
  height:200px;
  overflow-y: auto;
}
.modal-input  {
  display: inline;
  padding-left:40px;
}
.modal-input label {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  padding-top: 15px;
}

.modal-input input {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}
.forTeams {
  padding-left: 40px;
  padding-top: 10px;
  color: #1E90FF;
}
